.AddVacation  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.AddVacation > form  {
	width: 350px;
    margin: 0 auto;
    border-radius: 5px;

}

.AddVacation input, .AddVacation button {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}

.AddVacation span {
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
    position: absolute;
    margin: 0 20px;
    font-size: 13px;
}