.AddVacation  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AddVacation > form  {
    width: 350px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);

}

.AddVacation input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 3px 0;
    padding: 5px;
    border: none;
    border-radius: 5px;
    
}

.AddVacation span {
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
    position: absolute;
    margin: 0 20px;
    font-size: 13px;
}

.AddVacation  button {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
}