.Logo {
	height: 10%;
    padding: 3px;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;

}

.Logo > img {
    height: 100%;
}

.Logo > h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;

}